#aiohttp==3.8.1
#asyncio
#openai==0.27.0
#tenacity==8.2.2
#requests
#Pillow
#lxml
#cairosvg
#numpy
#svgwrite
#jsonschema
#flask
#gunicorn
aiohttp
flask
litellm
lxml
numpy
openai
requests
svgwrite
tenacity
elevenlabs
pydub
cairosvg
